@import "tailwindcss";
@import "./styles/reset.css";

@theme {
  --color-pri: #030712;
  --color-acc: #00bcff;
  --color-text-pri: white;
}

.react-flow__node-default {
  @apply  !p-0 !bg-pri;
}

.react-flow__controls > button {
  @apply bg-pri
}

button.react-flow__controls-button {
    color: white;
}

.react-flow__edges {
  @apply  w-[100px]
}

